node_modules/.bin
.DS_Store
tests/commands/add/output
tests/commands/amdify/output
tests/commands/create/output
tests/commands/remove/output
tests/commands/volofile/output
tests/full/output
tests/lib/volo/packageJson/output
node_modules
